@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Per Nordenbrink<br />
    Huggarvägen 32<br />
    13740 Västerhaninge<br />
    <abbr title="Mobil">Mobil:</abbr>
    076-2059333
</address>

<address>
    <strong>Support:</strong>   <a href="per.nordenbrink@bredband.net">per.nordenbrink@bredband.net</a><br />
</address>